<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="Console"
            layout="${date:format=yyyy-MM-dd} ${time:format=HH:mm:ss} ${date:format=zzz}|${logger}|${LEVEL}|${message} ${exception:format=tostring}" />
	<target name="tracing" xsi:type="Trace"
	        layout="${time:format=HH:mm:ss} ${date:format=zzz}|${threadid}|${logger}|${LEVEL}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="tracing" />
  </rules>
</nlog>
